img {
    font-size: 50px;
    width: 80px;
    height: 70px;

}


@media screen and (max-width: 576px) {
    .itemwrap {
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 5em;

    }

    .itemwrap .a {
        margin-right: 10em;
        display: block;
    }

    // .itemwrap .a h1 {
    //     margin-top: 75px;
    // }

    .itemwrap .b {
        margin-right: 16em;
    }

    .itemwrap .line {


        display: none;

    }

}