<div class="container d-grid gap-3">
  <input  type="text" [(ngModel)]="searchText" style="width: 200px; ">
  <div>
    <div class="card m-t=20px" style="width: 18rem;padding: 30px;" *ngFor="let her of heroes|filter:searchText:'searchText'|sort:['name','desc']" >
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">
       {{her.name}} comes from {{her.country}}
        </p>
      </div>
    </div>
  </div>
    <hr>
    <label for="">Filter city :</label>
    <input  type="text" [(ngModel)]="searchText" style="width: 200px; ">
<table class="table table table-success table-striped ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">COUNRY</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let her of heroes|filter:searchText:'searchText'|sort:['name','desc']">
        <th scope="row">{{her.id}}</th>
        <td>{{her.name}}</td>
        <td>{{her.country}}</td>
       
      </tr>
      
    </tbody>
  </table>

  
</div>