#cardt{
    transition: width 3s;
}
#cardt:hover{
    width: 500px;
}
h1{
    font-family: 'Courgette', cursive;
}
#pg{
    font-family: 'Rubik Maps', system-ui; 
}
h5{
    font-family: 'Paytone One', sans-serif; 
    font-size: larger; 
}
.bil{
    width: 100vh;
}