<div style="border: 1px solid rgb(130, 129, 134);">
    <h1 style="margin-left: 25vw;">CODESCHAFFER KUNDEN</h1>
    <div style="display: flex;margin-top: 3vh;margin-left: 25vw;margin-bottom: 1vh;">


        <input style="width: 200px;margin-right: 5px;" type="text" [(ngModel)]="searchTerm"
            placeholder="Enter node name" (change)=" addFilterAndCreateLinks($event)" />
        <button (click)="fddfilter()">Search</button>
        <button (click)="searchTerm=''" style="background-color: rgb(212, 160, 160);">Löschen</button>
        <button (click)="reloadPage()">Refresh</button>

    </div>

    <div style="display: flex;flex-direction: row;margin-left: 10vw;margin-top: 2vh;margin-left: 22vw;">
        <div style="margin-right: 10px;">
            <label>Available Relations</label>
            <select [(ngModel)]="relation_filter">
                <option value="" (change)="addFilterAndCreateLinks($event)">none</option>
                <option *ngFor="let rel of available_relations" [value]="rel">{{rel}}</option>
            </select>
        </div>
        <div>
            <label>Center Company</label>
            <select [(ngModel)]="selected_company">
                <option *ngFor="let company of available_companies" [value]="company">{{company}}</option>
            </select>
        </div>

    </div>
    <div *ngIf="relationsList.length > 0" style="margin-top: 20px;margin-left: 10vw">
        <h3>Relations for {{ searchTerm }}:</h3>
        <ul>
            <li *ngFor="let relation of relationsList">{{ relation }}</li>
        </ul>
    </div>
    <div id="graphContainer"></div>

    <figure id="netgraph"></figure>


</div>