<!-- <hr style="width: 90%;margin: auto;margin: auto; border: 2px solid black;">

<h2 style="margin-left: 5%; padding-top: 5%;">{{'Themenauswahl'| translate}}</h2>

<div class="row" style="display: flex;justify-content: center;align-items: center;padding-top: 5%;">


    <div class="col d-flex justify-content-evenly">

        <div>
            <h2 (click)="playBrand()">
                <a>
                    <img src="assets/icons/sarsedt.png" alt="Marke">
                    <span style="margin-top: 15px;" style="line-height: 160px;">

                        {{'Brand'|translate}}</span>

                </a>

            </h2>
        </div>


        <div class="d-flex">
            <h2 (click)="playDiangnostik()">
                <a>
                    <img style="border: 2px solid; padding: 5px;border-radius: 50px;"
                        src="assets/icons/diagnosisIcon.png" alt="Diagnosis">
                    <span style="margin-top: 15px;" style="line-height: 160px;">
                        <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt=""> 
                        {{'Diagnosis'|translate}}</span>

                </a>
            </h2>

        </div>
        <div class="d-flex" id="individuel">
            <h2 (click)="playWissenschaft()">
                <a>
                    <img style="border: 2px solid; padding: 5px;border-radius: 50px;"
                        src="assets/icons/wissenschaftIcon.png" alt="Wissenschaft">
                    <span style="margin-top: 15px;" style="line-height: 160px;">
                        <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt=""> 
                        {{'Science'|translate}}</span>

                </a>
            </h2>

        </div>
    </div>
    <div style="height: 25vh;width: 100%; background-color: black;
    position: fixed;bottom: 0;left: 0;">

    </div> -->



<!-- <div style="width: 200px;height: 200px;"> <app-player></app-player></div> -->

<div>

    <hr style="margin-top: 6%;width: 90%;margin: auto; border: 2px solid black;">
    <div class="row mt-5" id="divider">
        <h2 id="topic" style="margin-top: 1%;margin-left: 15%;">{{'Themenauswahl'|translate}}</h2>
    </div>
    <div class="row">
        <div class=" col d-flex justify-content-evenly mt-5">
            <div class="d-flex">
                <h2 (click)="playWissenschaft()" #Brand>
                    <a> @if (scienceIsLoading ) {
                        <div class="spinner"
                            style="position: absolute;margin-top: -9px;margin-left: -10px;margin-right: -10px;">
                        </div>

                        }
                        <img style="border: 2px solid;border-radius: 50px;padding: 5px;"
                            src="assets/icons/wissenschaftIcon.png" alt="Wissenschaft" alt="">
                        <span> <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt="">
                            {{'Brand'|translate}}</span>
                    </a>
                </h2>

            </div>
            <div class="d-flex" (click)="playDiangnostik()" #diagnostik>
                <h2>
                    <a> @if (diagnosIsLoadiang ) {
                        <div class="spinner"
                            style="position: absolute;margin-top: -9px;margin-left: -10px;margin-right: -10px;">
                        </div>

                        }
                        <img style="border: 2px solid;border-radius: 50px;padding: 5px;"
                            src="assets/icons/diagnostik.svg" alt="Diagnosis">
                        <span> <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt="">
                            {{'Diagnosis'|translate}}</span>

                    </a>
                </h2>

            </div>
            <div class="d-flex">
                <h2 (click)="playWissenschaft()" #wissenschaft>
                    <a> @if (scienceIsLoading ) {
                        <div class="spinner"
                            style="position: absolute;margin-top: -9px;margin-left: -10px;margin-right: -10px;">
                        </div>

                        }
                        <img style="border: 2px solid;border-radius: 50px;padding: 5px;"
                            src="assets/icons/wissenschaftIcon.png" alt="Wissenschaft" alt="">
                        <span> <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt="">
                            {{'Science'|translate}}</span>
                    </a>
                </h2>

            </div>

        </div>
    </div>

</div>