


#div1{
position: relative;
animation: mymove 5s;
animation-fill-mode: forwards;
animation-timing-function: ease-in;
}
@keyframes mymove{
    from{left: 0;}
    to{left: 700px;}
}

#div2{
    transition: width 2s;
}
#div2:hover{
    width: 600px;
}