.triangle-range-background-slider {
    position: relative;
    display: block;
    margin-top: -27px;
    height: 20px;
    background: url('https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg'); 
    background-size: 100% auto;
    z-index: 1;
  }
  input[type=range] {
    position: relative;
    z-index: 3;}