<div class="row " style="padding-top: 2%;">


</div>
<div>


    <hr style="color: black; width: 90%; margin: auto;border: 2px solid black;">
</div>

<div>
    <div class=" row ">

        <h2 style="margin-left: 10%;margin-bottom: 1%; padding-top: 3%;">{{'Choose'|translate}} </h2>
        <div class=" col justify-content-evenly" *ngFor="let item of items" (click)="pushtoThemAuswahl(item)">
            <h2 style="margin-left: 35%;">
                <img class="icn" [src]="item.icon" alt="{{ item.name }} icon"><span
                    style="line-height: 160px;padding-right: 10px;">
                    <img src="assets/icons/iconmonstr-line-one-vertical-lined-64.png" alt="">
                    {{item.name|translate}}</span>

            </h2>
        </div>
    </div>
    <hr style="color: black; width: 85%; margin: auto;border: 2px solid black;">
    <div class=" row mt-5" style="padding-left: 1%;">

        <div class=" col d-flex justify-content-evenly" id="selectedElements" *ngFor="let auswahl of themenAuswahl"
            (click)="markAsClicked(auswahl)">
            <img [ngClass]="{'bd':auswahl.name=='brand'}" class="icn" [src]="auswahl.icon"
                alt="{{ auswahl.name }} icon">
            {{ auswahl.clicked ? '' : '' }}

            @if (auswahl.clicked ) {
            <div class="spinner" style="position: absolute;margin-top: -10px;margin-left: 20px;margin-right: 20px;">
            </div>


            }
        </div>