svg {
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin: 20px;

}

.icn {
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin-top: 35px;
  padding: 2px;
}

img {
  font-size: 50px;
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 50px;

  border-radius: 50px;
}

// spinner
.spinner {
  border: 10px solid white;
  border-top: 15px solid green;
  border-right: 20px solid green;
  border-left: 15px solid green;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;

  border-width: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




// volumebar

.wrapper {
  position: relative;
  margin: 1rem;
}

input[type=range] {

  max-width: 20rem;

  width: 75%;

  background: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 1.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: #464646;
  background: linear-gradient(to bottom right,
      transparent 50%,
      #464646 50%);
}

input[type=range]::-moz-range-track {
  height: 1.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  background: #464646;
  background: linear-gradient(to bottom right,
      transparent 50%,
      #464646 50%);
}

input[type=range]::-ms-track {
  height: 1.9rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  color: transparent;
  background: #464646;
  border: 0;
  background: linear-gradient(to bottom right,
      transparent 50%,
      #464646 50%);
}

input[type=range]::-ms-fill-lower {
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3.0rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  margin-top: -5px;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

input[type=range]::-moz-range-thumb {

  height: 3.0rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 0;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

input[type=range]::-ms-thumb {

  height: 3.0rem;
  width: 0.5rem;
  background: #ffffff;
  border: 1px solid;
  margin-top: 0;
  border-radius: 3px;
  cursor: pointer;
}

input[type=range]:focus::-ms-thumb {
  box-shadow: 0px 0px 7px 3px #0065c4;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

// @media screen and (max-width: 600px) {

//   .wrapper h2 {
//     margin-left: -150px;

//   }


// }


img {
  font-size: 50px;
  width: 80px;
  height: 80px;

}

@media only screen and (max-width: 600px) {
  .row .d-flex {
    display: flex;
    flex-direction: column;
    display: block;
    margin-left: 10%;

    height: 10vh;
  }

  hr {
    margin-top: 3px;

  }

  #divider {
    margin-bottom: 10px;
  }

  #topic {
    margin-top: -20%;
    margin-bottom: 5%;
  }

  .row .d-flex img {
    width: 60px;
    height: 60px;
  }


  .wrapper h2 {
    margin-top: 60%;
    margin-left: -150px;

  }

}