img {
   font-size: 50px;
   width: 80px;
   height: 80px;


}

@media only screen and (max-width: 600px) {

   .row {
      display: flex;
      flex-direction: column;
      flex-shrink: 3;

   }

   .row .col {
      max-width: 40%;
      gap: 3em;
   }
}