svg{
    font-size: 50px; 
    width: 50px;
    height: 50px;
    margin: 50px;
 }

 img{
    font-size: 50px; 
    width: 50px;
    height: 50px;
    margin: 50px;
 }
 video{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 ul {
   text-align: center;
 }
 
 input {
   width: 40%;
   height: 100px;
   padding: 20px;
   font-size: 20px;
   border:2px solid ;
   box-sizing: border-box;
   margin-left: 2px;
 }
 
 .simple-keyboard {
   max-width: 850px;
 }